<div class="main-section {{if showMenu 'menu'}}" >



  {{tool-bar user=user}}

  <div class="panel">
    <div class="row  title text-left">
        <span class="label">{{sectionTitle}}</span>
    </div>
      {{ outlet }}
  </div>
</div>
