<div class="state" align="center">

    <div class="smileys">
      <div class="smiley smiley_0">
        <img src="/dist/assets/images/smiley_triste.png"/>
      </div>

      <div class="smiley smiley_1">
        <img src="/dist/assets/images/smiley_normal.png"/>
      </div>

      <div class="smiley smiley_2">
        <img src="/dist/assets/images/logo.png"/>
      </div>

    </div>
    <div class="user_avatar">
      <img src="/dist/assets/images/avatar.png"/>
    </div>
    <!--div class="row m40 fs20">
      <span class="name">Pepito Pulgarcito Gromenawer</span>
    </div-->

    <div class="row m40 points">

        <div class="icon-drink24 fs40"></div>
        <div class="text-left">
          <p>{{points.today}} cervezas hoy</p>
          <p>{{points.month}} cervezas este mes</p>
        </div>

    </div>

</div>
