@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "components/spinner";
@import "fonts";
@import "icons";



::-webkit-input-placeholder {
   font-family: 'Roboto-Regular';
}

:-moz-placeholder { /* Firefox 18- */
   font-family: 'Roboto-Regular';
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Roboto-Regular';
}

:-ms-input-placeholder {
   font-family: 'Roboto-Regular';
}


body {
  background-color :black;
  color: #88898C;
}
a {
  color: #88898C;

}
.container {
  font-family: 'Roboto-Regular';
  color: white;
}

.logo-title {
    margin: 50px;
    img {
      width:120px;
    }

}
.title {
  font-family: 'Roboto-Thin';

  font-size: 60px;
}

.form-login {
  margin: 0 auto;
  max-width: 250px;

  input {
    margin-bottom: 10px;
  }
}


.button {

  background-color: #18AFFF;
  max-width: 200px;
  padding:10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.auto {
  margin: 0 auto;

}

.m40 {
  margin-top: 40px;
}
.m20 {
  margin-top: 20px;
}

.toolbar {
  transition: all 0.5s ease;

  background-color: #1C1C1F;
  position: fixed;
  height:100%;
  width:20%;
  top:0;
  left: -20%;
  .bubble {
    position: relative;
    top: 30px;
    left: 50%;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    background-color: #18AFFF;
    text-align:center;
    line-height:24px;
    border: solid;
    border-color: white;
    color: white;
    font-size:10px;
  }
  .user_avatar {
    margin-top:20px;

    img {

      width:70%;
    }
  }
  p {
    a {
      text-decoration:none;
    }
  }
}

.panel {
  background-color:black;
  position: fixed;
  height:100%;
  width:80%;
  left:20%;
  top:0;

}
.load {
  top: 50%;
  margin-top: -32px;
  position:absolute;
  width:100%;

}
.smiley {
  cursor:pointer;
  display: inline-block;
  img {
    width:100px;
  }
}
.user_avatar {
  margin-top:20px;
  img {
    &:hover {
      cursor: pointer;
    }
    width:200px;
  }
}

.smiley_2 {
  transition: all 0.4s cubic-bezier(0.01, 0.41, 0, 0.99);
  position:relative;
  top: 50px;
  padding-left:50px;
  left:0px;
  &.disappear {
    top: 150px;
    left:-100px;
    opacity:0;
    z-index:-1;
  }

}
.smiley_0 {
  transition: all 0.4s cubic-bezier(0.01, 0.41, 0, 0.99);
  position:relative;
  top: 50px;
  padding-right:50px;
  left:0px;
  &.disappear {
    top: 150px;
    left:100px;
    opacity:0;
    z-index:-1;
  }
}
.smiley_1 {
  transition: all 0.4s cubic-bezier(0.01, 0.41, 0, 0.99);
  position: relative;
  top:0px;
  &.disappear {
    opacity: 0;
    top:100px;
    z-index:-1;
  }
}
.min-content {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 1em auto;
}

.fs20 {
  font-size: 20px;

}


.fs40 {
  font-size:40px;
}
.fs60 {
  font-size:60px;
}

.points {
  div {
    display: inline-block;
  }
}

.btn-menu{
  transition: all 0.5s ease;
  &:hover {
    color: white;
    cursor:pointer;
    /*border-left: solid 5px blue;*/

  }
}
.form-search {
  width:60%;
  max-width: 500px;
}



.main-section {
  &.menu {
    .toolbar {
      left: 0px;
    }
  }

}


.member-results {
  width:60%;

  max-width: 500px;
  height: 350px;
  overflow: auto;
  .item-result-member {
    background-color: #1c1c1f;
    height: 80px;
    padding: 5px;
    padding-top: 10px;
    margin-top: 5px;
    .avatar {
      img {
        width: 100%;
      }
      width: 60px;
      float:left;
    }
    .member-info{
      margin-top:10px;

      p {
        text-align: left;
        margin: 0;
        margin-left:20px;
      }
      float:left;
    }
    .action {
      transition: all 0.2s ease;
      line-height:60px;
      font-size: 20px;
      float:right;
      &:hover {

        color: white;
        cursor:pointer;
      }

    }
    .checked {
      line-height:60px;
      font-size: 20px;
      float:right;
      opacity:0;
      font-size:0px;
      z-index:-1;
    }
    &.disabled {
      color:white;
      .action {
        opacity:0;
        font-size:0px;
        z-index:-1;
      }
      .checked {

        opacity:1;
        font-size:20px;
        z-index:1;
      }

    }


  }


}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: black;

}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #1c1c1f;
}

.state {
  position:relative;
  top: 0;
  transition: all 0.4s cubic-bezier(0.01, 0.41, 0, 0.99);
  &.up {
    top: -100px;
    position: relative;
  }

}
